.env
node_modules/
dist/
.replit
replit.nix

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
pids
*.pid
*.seed
*.pid.lock

lib-cov
coverage
*.lcov
.nyc_output
.grunt
bower_components
build/Release
jspm_packages/
web_modules/
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz

.env.*
!.env.example

.cache
.parcel-cache
.next
out
.nuxt
.vuepress/dist
.temp
.svelte-kit/
**/.vitepress/dist
**/.vitepress/cache
.docusaurus
.serverless/
.fusebox/
.dynamodb/
.firebase/

.vscode/
.idea/
.DS_Store
*.swp
.tern-port
.vscode-test

vite.config.js.timestamp-*
vite.config.ts.timestamp-*
